<html lang="es">
    <head>
        <title>Habits</title>
    </head>
    <body>
        <h1>ola</h1>
        <% if ( user ) {%>
            <div>olaaa</div>
        <% } %>
        <script>
        </script>
    </body>
</html>